.narbar_color a {
  color: $qopink !important;
}
.narbar_color a:hover {
  color: $white !important;
}
.bi-house-door-fill::after {
  content: ">";
  color: $qopink;
  margin-left: 20px;
}

.about {
  h2 {
    font-family: "Roboto", sans-serif;
    color: $qopink;
  }
  p {
    color: $dark;
    font-family: "Roboto", sans-serif;
  }
}
