.login {
  color: $qopink;
  h2 {
    font-weight: 600;
  }
  a {
    color: $qopink;
  }
  a:hover {
    color: $qoblue;
  }
  input[type="button"]:hover {
    background-color: rgba(196, 136, 164, 0.7) !important;
  }
}

.login hr.divider {
  overflow: inherit;
  position: relative;
  border-width: 1px;
  border-color: $qopink;
}
.login hr.divider:after {
  content: "or";
  text-align: center;
  position: absolute;
  top: 0px;
  width: 60px;
  color: $qopink;
  font-weight: 600;
  left: 50%;
  background: $white;
  transform: translate(-50%, -50%);
}

@include maxpad() {
  .login_input {
    width: 100% !important;
  }
}
