.new_banner {
    background-image: url("http://www.rofon.com.tw/assets/images/mbr-1-1920x12710.jpg");
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    height: 100vh;
    h1 {
        font-weight: 900 !important;
    }
    .banner {
        position: absolute;
        background-color: black;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
    }
    .text {
        top: 40%;
        left: 30%;
        right: 30%;
    }
    .fa-arrow-down {
        opacity: 0.5;
        animation-name: topToDown;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}
@keyframes topToDown {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}

.new_four_card {
    button {
        transition: all 0.3s;
        &:hover {
            box-shadow: inset 0px 0px 0px -100px #ababab, 0px 0px 50px -20px #242424;
        }
    }
}
